# projek setruk
---

*sebuah penelitian terhadap nama-nama orang yang sering dipakai di Indonesia dengan tujuan membuat mesin yang bisa membedakan jenis kelamin dari nama tersebut**

                        Vicky Vernando Dasta - Hafizan Anas Sidiqi
                        vickydasta@gmail.com   

                                          veeklab 
                                         2016 - 2017

---


## latar belakang

- sering terjadi kesalahan interpretasi gender dari nama seseorang
- diperlukannya mesin yang bisa melihat pola dan hubungan antara corpus dari nama dengan gendernya

## teori

*nama* dalam Kamus Besar Bahasa Indonesia berarti *kata untuk menyebut atau memanggil orang (tempat, barang, binatang, dan sebagainya)*.

In [95]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import SVC
import sqlite3 as sqlite

vectorizer = CountVectorizer()
le = preprocessing.LabelEncoder()

In [73]:
df = pd.read_csv("data/data.csv")

# split data into test and train
# 1:2

train = df[11:30]
test = df[0:10]

test[" gender"] = test[" gender"].map({" male": 0, " female": 1})
train[" gender"] = train[" gender"].map({" male": 0, " female": 1})

label = train[" gender"]
feature = train[" name"]
len(label) == len(feature)
label

/home/vickydasta/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/vickydasta/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    1
19    0
20    0
21    0
22    0
23    0
24    0
25    1
26    0
27    0
28    1
29    1
Name:  gender, dtype: int64

In [86]:
X = vectorizer.fit_transform(feature)
test = vectorizer.fit_transform(["vicky nugroho"])

In [75]:
clf = SVC()
clf.fit(X, label)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [91]:
clf.score()

TypeError: score() takes at least 3 arguments (1 given)

# setruk, Jan 3, 2017

- cleaning data
- import data to sqlite

pada tahap ini, sudah terkumpul sebanyak 318 data (nama, jenis kelamin).
selanjutnya dilakukan pembersihan terhadap data tersebut.

tahap selanjutnya, dilakukan visualisasi terhadap nama.

In [109]:
import csv 

f = open('data/data-2.csv', 'r')
names = csv.reader(f)

for name in names:
    print name[0].lower(), "0" if name[1].lower() == "m" else "1"

name 1
hafizhan shidqi 0
gandhi wibowo 0
aldio mahendra purwandrarto 0
benny putra 0
vicky vernando dasta 0
jufianto henri 0
aan nuraini 1
abdur rahman 0
abdurrahman, ms 0
ade indra sukma 1
ade irmayani 1
bakti yoga priyandana 0
daniel sepra pratama 0
dayu m sandro 0
dean mareti hariani 1
edi kurniawan wibowo 0
fadil rahmat andini 0
fahmi iqbal firmananda 0
fairuzi 0
gustian 0
habil sabilla do'a 1
hermawan syah 0
ibnuyohanzah ahmad 0
lia pertiwi 1
muhammad maksum sugondo 0
muhammad risfandanu 0
adnil riza 0
nadia gustiana 1
nanda aditya 1
nurgivo alfajri 0
pita irul sayekti 1
rahmadi gusri 0
rahmat 0
sadra wilis 1
said rio apriadi 0
tania rahmadhini 1
tarikhul mahfudz 0
vido idramedi 0
wahyu darmawan 0
yana pramana 1
yusrika dewi 1
zakiah nurviani 1
aditya dwi nugraha 0
afrian djugi 0
debby jayadi nugroho 0
dede dwi arviyanti 1
della maulina herianda 1
deny gustriansyah 0
desi fitri 1
edmund andriano 0
fajar aulia rahman 0
fathiya hasyifah sibarani 0
fauzar 0
habzer maisera 0
herzavina 1
ikbal gazalba 0
ikhsan firdaus 0
ilda ikhwana lubis 1
jayus suryawan 0
muhammad bagoes samaron 0
muhammad hanafi 0
muhammad ilham akbar khoiri 0
narendra benny 0
naufal abiyyu 0
nurhikmah 1
pradana bagus harsono 0
rahmi omya ulta 1
rahmi septhianingrum 1
rangga arief putra 0
rangga dwi nugrawan 0
saiful wahyudi 0
sari devia agustina 1
taufik oktafiyardi 0
teddy franwijaya 0
vigo farlandi 0
wahyu ernu setiawan 0
yofaldi laksmana putra 0
zubaidah 1
agus faturrahman 0
agustiando rahmat 0
aidil badri 0
alfajri 0
bayu hasan basyir aljawi 0
desi fransiska 1
desnando 0
desri ardika 0
dessy masdianata p 1
destria membrane 1
eka nur safitri 1
fauziah 1
feny afrisilia 1
hesty afriani srg 1
ilham afandi aziz 0
ilham fajri 0
indah permata sari 1
jukhri syahputra 0
m. muawam 0
m. yassir saputra jamina 0
mardiyyat fadliellah 0
mukhtar lutfi 0
nazarudin yusuf 0
neni anggraeni dalimunthe 1
nurpauliani dewi n 1
rano abdul rahman 0
ratih purwasih 1
raynaldi setiawan 0
shynta dwi afitri 1
siti romlah 1
teresno maulana 0
tessa eka pratiwi 1
wendi gusfan hutapea 0
yovita sari 1
zukri adinalta 0
alfi sahri 0
amalia wulandari 1
amelia novrida 1
andre ganda wilaga putra 0
andre oktora 0
benni setiawan 0
deswanto 0
desy syahputri 1
eka wulandari 1
ferry ramadhan 0
firdaus 0
hamdani asril 0
hijrah syahputra 0
indah rahmawati 1
indra firman 0
indri dian pertiwi 0
kemal pasha 0
muhammad sayuti nur nasution 0
miftahur ridho 0
mila yuli yanti 1
muhammad wendi hidayat 0
nikawati 1
nofan widiyarna 0
nurudin rahman 0
puji astuti 1
refi delia 1
reno mulia sari 1
resa putri ananda 1
resi septiani 1
rudi kurniawan 0
siti zulaiha 1
sry dhina pohan 1
thovanni jogga 0
tian fitra kurniawan 0
widya ayu azhari 1
yudiatma adrion 0
zukri rahman 0
andre saputra 0
andrianto 0
andryan dwi cahyono 0
angga wiratama 0
anggi desmita arini 1
dewi cita rani 1
dewi kartika sari 1
dewi shinta octariati 1
firdaus 0
fitra andri gunawan 1
indriani saritsha 1
inggar wangi r 1
mira afriani 1
muhammad adri 0
muhammad alayyubi 0
nony chrisnayanti 1
nora ferwati 1
nurul gayatri indah reza 1
benny yohanes 0
elennuari 1
harika vaizal 0
hildayanti oktaviana 1
khairul fahmi purba 0
muhammad triyoga sp 0
putri lia lestari 1
resti yulia 1
reysa hastarimasuci 1
reza fahlevi 0
rhesma naca 1
rudi wijaya 0
suci fahma julia 1
suci hijryani fitry 1
tika handayani asnur 1
tio doli raharjo 0
winda wahyuti 1
yulia ningsih 1
anggia anfina 1
anita pauzia hsb 1
annisa julita sari 1
boby adi oktarino 0
dias marzal pratama 0
dicky mahendra 0
dika aristya linardi 0
elvi suryani 1
fitra miswardi 1
fitri meldiani 1
husnul habib 0
irfani dwi ayu riski 1
irpandi kurniawan 0
kurniawan eka putra 0
muhammad asri wisnu wardana 0
muhammad audi reza islami 0
muhammad azmeer 0
muhammad thoha 0
novi gustiana 1
novia kumala sari 1
padli nofrizal 0
putri wahyuni 1
rahmat hidayat 0
rahmi andreni 1
rian aries fani 0
riandi selvi 0
rianto 0
ridha ulva 1
rizqi wahyuningsih 1
ruwadi saputra 0
sugeng hermawan 0
suliatun 1
tomi ismeidianto 0
usthalay putra 0
winggo aga septian 0
yunaldi rizki putra 0
arif prasetyo 0
arie rahman satria 0
arinda oktaviana 1
asri jakawendra 0
astri stiawaty 0
aszani 1
boby rahman 0
dewi cahyati 1
dimas aditya perdana 0
dinda afani 1
doni sanjaya 0
fitri yanti 1
hendri eka saputra 0
irwan ahmad gafur 0
isa ismail 0
kurniawan rosman a 0
muhammad azmy 0
muhammad ilham 0
muhammad sholihan 0
novita dewi 1
novri sabli saputra 0
pajar bahari 0
redha fauziah aziz 1
ridho 0
ridho fajri 0
ridho rismayanda 0
ridwan candra 0
rosdina 1
supriadi 0
suriyani 1
tommy zul hidayat 0
umi riyani 1
wiwik sumarmi 1
yuni dwi hastuti 1
aulia rahman 0
agung kurniawan 0
ahmad fauzi paturusi 0
arie biola gunti masuko 0
ayu andira 1
ayu dwi septiana arta 1
azwar anas 0
azwir irfan nanda 0
budi setiawan 0
donna febriani 1
dwi widiastuti 1
dwiki apsyarin 0
dwiza indri 0
frans b jaya zalukhu 0
fuad harisfa 0
herman efendi 0
ichsyan rizky adi p 0
ivo oktavianti 1
lailatul izzati 1
muhammad oki 0
muhammad ridho ardonis 0
muhammad rizqi muttaqin 0
muhammad setyo 0
nur aulia hasanah 1
nurfatrianti 1
pikril islami 0
rikal 0
riyan hidayat 0
rizki pratama 0
rizkie hafizzah 1
syaiful akbar 0
tri puspita darmayuli 1

In [135]:
import csv

for name in csv.reader(open('data/data.csv')):
    print name[1], name[2]

 name  gender
 vicky vernanndo dasta  male
 ahadiah ayu mulfa  female
 susilo bambang yudhoyono  male
 rudiantara  male
 gandhi wibowo  male
 hafizan annas sidiqhi  male
 joko widodo  male
 ibnu yahya  male
 muhammad rumli  male
 widya irfani  female
 bintang raezka ockland  male
 muhammad izzudin  male
 herdian prasetyo  male
 novinda ariani  male
 eka chandra  male
 rahmat hidayat  male
 gustin harianto  male
 tofik hidayat  male
 merry susilawati  female
 wadi zendrato  male
 advenrinus sababalat  male
 budi fernando  male
 robi ikhsan  male
 benny putra  male
 jufianto henri  male
 dinda pratiwi  female
 agung perwira  male
 didik sugianto  male
 mila cahyani  female
 winda wati wulandari  female

In [12]:
from bokeh.charts import Scatter, output_file, show
from bokeh.sampledata.autompg import autompg as df

p = Scatter(df, x='mpg', y='hp', color='cyl', title="HP vs MPG (shaded by CYL)",
            xlabel="Miles Per Gallon", ylabel="Horsepower")

output_file("scatter.html")

show(p)

In [8]:
import sqlite3
import pandas as pd

con = sqlite3.connect("setruk-2.db")
df = pd.read_sql("SELECT * FROM dist_name WHERE sum > 4 and gender=0", con)
df2 = pd.read_sql("SELECT * FROM dist_name WHERE sum > 4 and gender=1", con)

       id  token  sum  gender
0       1      n  137       0
1       3     am   36       0
2       5      e   62       0
3       7         200       0
4       9     na   25       0
5      17      v   12       0
6      23     er   15       0
7      25     nn    8       0
8      27     do   11       0
9      29      d  133       0
10     31     as   18       0
11     33     ta   16       0
12     35     vi    7       0
13     49      a  198       0
14     69     ha   46       0
15     71     di   49       0
16     73     ah   41       0
17     75     yu   13       0
18     77      m   82       0
19     79     ul   10       0
20     81     fa   25       0
21     83    adi   12       0
22     87     mu   26       0
23    103      s   89       0
24    105     us   18       0
25    107     il   12       0
26    109      o   70       0
27    111     ba   14       0
28    115     an  102       0
29    117      g   34       0
..    ...    ...  ...     ...
257  2987    udi   11       0
258  3039    urn    7       0
259  3041    kur    7       0
260  3043   niaw    7       0
261  3045  kurni    7       0
262  3097   urni    7       0
263  3101  iawan   11       0
264  3127    sap    5       0
265  3131   sapu    5       0
266  3147     gg    5       0
267  3157     sm    5       0
268  3241  mad a    6       0
269  3327    iza    5       0
270  3337    zal    5       0
271  3367    i p    5       0
272  3445     es    7       0
273  3501   daya    6       0
274  3685  rniaw    7       0
275  3687    nia    7       0
276  3807   ridh    5       0
277  3833   aput    5       0
278  3845    rma    6       0
279  3875    idi    5       0
280  3965  endra    5       0
281  3983    ahy    5       0
282  4015    apu    5       0
283  4109  ridho    5       0
284  4117   anda    6       0
285  4193   rnia    7       0
286  4213     uk    6       0

[287 rows x 4 columns]